.centered-text {
            text-align: center;
            margin-bottom: 40px;
        }

    .page-name {
            margin-left: 15px;
        }

    body {
            background-color: white;
        }

    .navbar {
            background-color: rgb(206, 33, 33)
        }