.centered-text {
            text-align: center;
            margin-bottom: 40px;
        }

    .page-name {
            margin-left: 15px;
        }

    .row {
            justify-content: space-between;
            margin-bottom: 70px;
        }

    .a-nadpis {
            margin-left: 90px;
            margin-top: 20px;
        }

    .b-nadpis {
            margin-left: 90px;
            margin-top: 20px;
        }

    .c-nadpis {
            margin-left: 90px;
            margin-top: 20px;
        }

    .photo1 {
            border-radius: 20%;
            transition: border-radius 0.3s ease-in;
        }

    .photo2 {
            border-radius: 20%;
            transition: border-radius 0.3s ease-in;
        }

    .photo3 {
            border-radius: 20%;
            transition: border-radius 0.3s ease-in;
        }

    .photo1:hover {
            border-radius: 10%;
    }

    .photo2:hover {
            border-radius: 10%;
    }

    .photo3:hover {
            border-radius: 10%;
    }

    body {
            background-color: white;
        }

    .navbar {
            background-color: rgb(206, 33, 33)
        }

    .btn {
            background-color: rgb(206, 33, 33);
            border-color: rgb(206, 33, 33);
            border-radius: 5px;
            transition: border-radius 0.5s ease-in;
        }

    .btn:hover {
            border-radius: 15px;
            background-color: rgb(89, 97, 104);
            border-color: rgb(89, 97, 104)
    }

    .children_photo {
            text-align: center;
    }