<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление блюда</title>
  <!-- Подключение Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h1>Добавление блюда</h1>
  <form>
    <div class="form-group">
      <label for="name">Название блюда</label>
      <input type="text" class="form-control" id="dishName" placeholder="Введите название блюда">
    </div>
    <div class="form-group">
      <label for="menuType">Тип меню</label>
      <select class="form-control" id="menuType">
        <option>Утреннее меню</option>
        <option>Обеденное меню</option>
        <option>Вечернее меню</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dishPrice">Цена блюда</label>
      <input type="text" class="form-control" id="dishPrice" placeholder="Введите цену блюда">
    </div>
    <div class="form-group">
      <label for="dishPhoto">Фотография блюда</label>
      <input type="file" class="form-control-file" id="dishPhoto">
    </div>
    <button type="submit" class="btn btn-primary">Добавить блюдо</button>
  </form>
</div>

<!-- Подключение Bootstrap JS (необходимо для работы некоторых компонентов Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>