<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Вкусные перемены</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breakfast.css') }}">
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Плюсы использования системы безналичной оплаты школьного питания</h4>
                    <ul>
                        <li><p class="text-white">Спокойствие родителей, что их ребенок покушал</p></li>
                        <li><p class="text-white">Удобство пополнения</p></li>
                    </ul>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Контакты</h4>
                    <ul class="list-unstyled">
                        <li><p class="text-white">Телефон горячей линии: +7 123 345 56 78</p></li>
                        <li><a href="#" class="text-white">Написать на почту</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/logo.png') }}" weight="40" height="40"
                     class="d-inline-block align-text-top">
                <strong class="page-name">Вкусные перемены</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" , position="">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mb-4">Добавление блюда</h2>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="dishName">Название блюда:</label>
                <input type="text" class="form-control" id="dishName" name="dishName" required>
            </div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="menuType">Тип:</label>
                <select class="form-control" id="menuType" name="menuType" required>
                    <option value="">Выбери тип меню</option>
                    <option value="breakfast">Утреннее меню</option>
                    <option value="lunch">Обеденное меню</option>
                    <option value="dinner">Вечернее меню</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dishImage">Фото блюда:</label>
                <input type="file" class="form-control-file" id="dishImage" name="dishImage" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</header>
</body>
</html>