<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Профиль
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Имя пользователя:</label>
                        <input type="text" class="form-control" id="username" readonly value={{name}}>
                    </div>
                    <div class="form-group">
                        <label for="username">Класс:</label>
                        <input type="text" class="form-control" id="grade" readonly value={{grade}}>
                    </div>
                    <div class="form-group">
                        <label for="balance">Баланс:</label>
                        <input type="text" class="form-control" id="balance" readonly value={{current_user.balance}}>
                    </div>
                    <a href="balance" class="btn btn-danger btn-block" id="balanceBtn">Пополнить баланс</a>
                    <a href="logout" class="btn btn-danger btn-block" id="logoutBtn">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>